* {
    /* outline: 1px dotted red; */
}
#wrapper {
    width: 600px;
    height: 350px;
    margin: 0px auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #45a049;
}

.row {
    display: inline-block;
    width: 100%
}

.row button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.row button:hover {
    background-color: #45a049;
}

.col-left {
    /* float: left; */
    width: 25%;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
}

.col-right {
    /* float: left; */
    width: 70%;
    margin-top: 6px;
    display: inline-block;
}

