<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Counter</title>
</head>
<style>
    #container {
        width: 450px;
        height: 350px;
        margin: 0px auto;
        border-radius: 5px;
        background-color:rgb(255,255,255);
        padding: 20px;
        text-align: center;
    }
</style>
<body>
    <div id="container">
        <h1>Counter</h1>
        <p>{{session['counter']}} times</p>
        <form action='/add2' method='post'>
            <button>add 2</button>
        </form>
        <form action='/reset' method='post'>
            <button>reset</button>
        </form>
    </div>
</body>
</html>
