<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disappearing Ninja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">>
</head>
<body>
    <div id="container">
        <img src="{{ url_for('static', filename='img/tmnt.png') }}" alt="">
        <div>
            <p>/ninja        - all four Ninja Turtle.</p>
            <p>/ninja/blue   - Ninja Turtle Leonardo.</p>
            <p>/ninja/orange - Ninja Turtle Michelangelo.</p>
            <p>/ninja/red    - Ninja Turtle Raphael.</p>
            <p>/ninja/purple - Ninja Turtle Donatello.</p>
        </div>
    </div>
</body>
</html>