<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask - Registration Form</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="container">
        <div id="registration">
            <form action="/" method="post">
                <h1>Registration Form</h1>
                <div class="row">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class=flashes>
                                {% for category, message in messages %}
                                    <p class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </div >
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="row">
                    <div class="col-left">
                        Your Email:
                    </div>
                    <div class="col-right">
                        <input type='text' name='email'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">
                        Your First Name:
                    </div>
                    <div class="col-right">
                        <input type='text' name='firstname'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">
                        Your Last Name:
                    </div>
                    <div class="col-right">
                        <input type='text' name='lastname'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">
                        Your Password:
                    </div>
                    <div class="col-right">
                        <input type='text' name='password1'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">
                        Confirm Password:
                    </div>
                    <div class="col-right">
                        <input type='text' name='password2'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">
                        Date of Birth:
                    </div>
                    <div class="col-right">
                        <input type='date' name='dob'>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>