<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/welcome.js') }}"></script>
</head>
<body>
    <h1>Hello to my landing page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, deserunt. Et quam eveniet omnis quaerat vitae alias tenetur magni provident placeat, molestias totam velit aut quidem aperiam enim debitis odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. At reiciendis provident voluptates natus est neque, assumenda esse ab eos officia! Neque corporis odio in. Quisquam voluptas illum repudiandae amet perferendis?</p>
    <h2>the links</h2>
    <ul>
        <li><a href="http://127.0.0.1:5000/">http://127.0.0.1:5000/</a></li>
        <li><a href="http://127.0.0.1:5000/ninjas">http://127.0.0.1:5000/ninjas</a></li>
        <li><a href="http://127.0.0.1:5000/dojos/new">http://127.0.0.1:5000/dojos/new</a></li>
    </ul> 
</body>
</html>