<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Ninja</h1>
    <img src="{{ url_for('static', filename='img/Ninja_Old_Header.png') }}" alt="">    
    <p>A ninja (忍者) or shinobi (忍び,, "to sneak") was a covert agent or mercenary in feudal Japan.</p>
    <p>For more information, please visit https://en.wikipedia.org/wiki/Ninja</p>
    <h2>the links</h2>
    <ul>
        <li><a href="http://127.0.0.1:5000/">http://127.0.0.1:5000/</a></li>
        <li><a href="http://127.0.0.1:5000/ninjas">http://127.0.0.1:5000/ninjas</a></li>
        <li><a href="http://127.0.0.1:5000/dojos/new">http://127.0.0.1:5000/dojos/new</a></li>
    </ul> 
</body>
</html>
  
