<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success submitted form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Form</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dignissimos rerum ex tempora aperiam blanditiis sunt dolorem qui nesciunt iure alias quibusdam perspiciatis dolor eos illum earum, doloribus et tenetur.</p>
    <h2>the links</h2>
    <ul>
        <li><a href="http://127.0.0.1:5000/">http://127.0.0.1:5000/</a></li>
        <li><a href="http://127.0.0.1:5000/ninjas">http://127.0.0.1:5000/ninjas</a></li>
        <li><a href="http://127.0.0.1:5000/dojos/new">http://127.0.0.1:5000/dojos/new</a></li>
    </ul> 
</body>
</html>
  
